chardet==3.0.4
Django==3.0.1
django-distill==1.6
django-filter==21.1
django-livereload-server==0.3.2
django-tables2==2.2.1
djangorestframework==3.12.4
future==0.18.2
idna==2.8
importlib-metadata==4.8.2
Markdown==3.3.6
pyChart.JS==0.3.0
PySocks==1.7.1
pytz==2019.3
requests==2.22.0
scraperapi-sdk==0.2.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.3.0
stem==1.8.0
tornado==6.1
torrequest==0.1.0
urllib3==1.25.7
zipp==3.6.0